<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div style="margin: 0 auto;width: 66.66666667%;min-width: 768px">
    		<p>
			I have 10+ years of software engineering experience, at both startups and large orgs. 
			My expertise is in building scalable, distributed, fault tolerant backend systems. 
			I prefer prototypes to presentations, and can be often found obsessing about ways to optimize code, 
			sharing and soliciting ideas to make systems robust, whilst drinking copious amounts of coffee. 
		</p>
		<p>
		   <ul>	
			<li>Created <a href="http://a816-dohbesp.nyc.gov/IndicatorPublic/">NYC Indicator Tracking Portal</a></li>
			<li>Optimized <a href="https://flex.amazon.com/">Amazon Flex</a></li>
			<li>Worked with <a href="https://news.efinancialcareers.com/us-en/274853/secdb-goldman-sachs-slang">Secdb</a></li>
		   </ul>			
		</p>
      	     </div>

    </div>
  </div>
</section>
