<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Deep learning</b>. It's an exciting time for machine learning. I'm working through several online classes, and swap articles with 
				  collegues. Interested in the code behind <a href="https://deepart.io/">deepart.io</a>
			  </li>
			  <li>
				  Woodworking. I built  <a href="woodwork.html">this table</a>
			  </li>
			  <li>
				  Triathlons. My athlete<a href="https://www.athlinks.com/athletes/297194762/results">profile</a>
			  </li>	
			  <li>
				  Scuba Diving. Certfied in Bocas Del Toros, Panama. 18 Recorded Dives.
			  </li>					
			
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          OpenGidget is an open-source fork of Raspbian Linux that makes it easier to auto-provision a headless Raspberry PI,
          get it onto your WiFi network, and deploy simple Python and Ruby scripts that run at startup - all without needing to plug in a keyboard/monitor.
    		</li>
  			<li>
          My Medium blog covers my ongoing attempts to instrument and automate everything in my house.
  			</li>
  		    </ul>
      </div>
    </div>
  </div>
</section>
